<h1>Student List</h1>

<ul>
  <% @students.each do |student| %>
    <li>
    <span><%= link_to student.email, student_path(student) %></span> | 
    <span><%= student.full_name %></span>
    </li>
  <% end %>
  
</ul>