
<div class='row'>
  <div class='col-md-12'>
    <h1>Student List</h1>
  </div>
  <div class='col-md-12'>
    <h4><%= link_to "Add New Student", new_student_path %></h4>
  </div>
  <div class='col-md-8'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Full Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= link_to student.email, student_path(student) %></td>
            <td><%= student.full_name %></td>
            <td><%= link_to "Delete", student_path(student), method: :delete, data: { confirm: "Ary you sure?"} %></td>
          </tr>
        <% end %>
        
      </tbody>

    </table>
  </div>
</div>







