<h1>Student List</h1>
<% binding.pry %>

<ul>
  <% @students.each do |student| %>
    <li>
    <span><%= student.email %></span> | 
    <span><%= student.full_name %></span>
    </li>
  <% end %>
  
</ul>